<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav">
    {{ output_file|section("index", SITEURL, "Index") }}
    {{ output_file|section("3.0", SITEURL) }}
    <li><a href="http://nuvolaplayer.fenryxo.cz/releases/2.4.html">2.4</a></li>
    <li><a href="http://nuvolaplayer.fenryxo.cz/releases/2.3.html">2.3</a></li>
    <li><a href="http://nuvolaplayer.fenryxo.cz/releases/2.2.html">2.2</a></li>
    <li><a href="http://nuvolaplayer.fenryxo.cz/releases/2.1.html">2.1</a></li>
    <li><a href="http://nuvolaplayer.fenryxo.cz/releases/2.0.html">2.0</a></li>
  </ul>
</div><!-- .navbar-collapse -->
